body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
    color: pink;
}

header {
    background-color: pink;
    color: black;
    padding: 1em 0;
    font-family: 'Damion', cursive; /* Always use Damion font for the header */
}

nav {
    margin-top: 20px;
    font-family: 'Damion', cursive; /* Ensure Damion is used in the navigation */
}

nav a {
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    margin: 0 20px;
}

main {
    padding: 2em;
}

.service {
    margin-bottom: 20px;
}

.service-button {
    display: block;
    background-color: pink;
    color: black;
    padding: 15px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.service-button:hover {
    background-color: #ff66b2; /* Lighter pink on hover */
}

footer {
    background-color: pink;
    color: black;
    padding: 0.5em 0; /* Reduced the footer height */
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: black;
    font-size: 1.5em;
    text-decoration: none;
}

